@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-video {
  pointer-events: none;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

@media (max-width: 768px) {
  .hero-video {
    display: none;
  }
}
